<aw-wizard>
  <aw-wizard-step stepTitle="Tenant Names">
    <app-tenant-names></app-tenant-names>
    <div class="btn btn-normal" awNextStep>Next Step</div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Start and End Date" awOptionalStep>
    <app-start-end-date></app-start-end-date>
    <div class="btn btn-normal" awPreviousStep>Go to previous step</div>
    <div class="btn btn-normal" awNextStep>Go to next step</div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Rent Payment" awOptionalStep>
    <app-rent-payment></app-rent-payment>
    <div class="btn btn-normal" awPreviousStep>Go to previous step</div>
    <div class="btn btn-normal" awNextStep>Go to next step</div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Property Details" awOptionalStep>
    <app-property-details></app-property-details>
    <div class="btn btn-normal" awPreviousStep>Go to previous step</div>
    <div class="btn btn-normal" awNextStep>Go to next step</div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Notification Scheduling" awOptionalStep>
    <app-notification-scheduling></app-notification-scheduling>
    <div class="btn btn-normal" awPreviousStep>Go to previous step</div>
    <div class="btn btn-normal" awNextStep>Go to next step</div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Confirmation">
    <app-confirmation></app-confirmation>
    <div class="btn btn-normal" awPreviousStep>Previous Step</div>
    <div class="btn btn-normal" (click)="finishFunction()">Finish</div>
  </aw-wizard-step>
</aw-wizard>