<div class="row">
  <div class="col">
    <div class="table-container">
      <table class="table tenant-list">
        <thead>
          <th scope="col">Tenant Name</th>
          <th scope="col"></th>
        </thead>
        <tbody>
          <tr *ngFor="let tenantField of newTenancyMaker.tenantFields; let i = index">
            <td>
              <input type="text" [(ngModel)]="tenantField.value"
               [name]="tenantField.key">
            </td>
            <td>
              <div class="btn btn-normal delete"
               (click)="newTenancyMaker.deleteTenant(i)">
                Delete
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <div class="btn btn-normal" (click)="newTenancyMaker.addTenant()">
            Add New Tenant
          </div>
        </tfoot>
      </table>
    </div>
  </div>
</div>
