.btn-normal {
  border-radius: 0;
  border-color: #343a40;
  color: #343a40;
}

.btn-normal:hover {
  background-color: #343a40;
  color: #ffffff;
}

input[type="text"], input[type="password"], textarea {
  border-radius: 0;
  border-color: #343a40;
}