<div class="row">
  <div class="col-12">
    <div class="table-container">
      <table class="table">
        <thead>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <div class="btn btn-normal" [routerLink]="['/tenantbill/edit']"
               routerLinkActive="router-link-active">Edit</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>