<div class="row">
    <div class="col">
        <p>List of Tenants</p>
        <div class="table-container">
            <!-- Only show tenants in tenancy. mark paying tenant -->
            <table class="table">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                        <div class="btn btn-normal">Edit</div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Dawn</td>
                        <td>Keane</td>
                        <td>@dkn</td>
                        <td>
                        <div class="btn btn-normal">Edit</div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Raymond</td>
                        <td>Barrying</td>
                        <td>@rby</td>
                        <td>
                        <div class="btn btn-normal">Edit</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <label for="startDate">Start Date:</label>
        <input type="text" class="form-control" id="startDate" />
    </div>
    <div class="col-md-6 col-xs-12">
        <label for="endDate">End Date:</label>
        <input type="text" class="form-control" id="endDate" />
    </div>
</div>

<div class="row">
    <div class="col">
        <label for="effectiveRentCost">Rent ($ per week)</label>
        <input type="text" class="form-control" id="effectiveRentCost" />
    </div>
</div>

<div class="row">
    <div class="col">
        <label for="discount">Discount ($ per week)</label>
        <input type="text" class="form-control" id="discount" />
    </div>
</div>

<div class="row">
    <div class="col">
        <label for="discountDescription">Reason for Discount</label>
        <input type="text" class="form-control" id="discountDescription" />
    </div>
</div>

<!-- Only list charges associated to teanacy -->
<!-- <div class="row">
    <div class="col">
    <div class="title">
      Extra Charges List
    </div>
    <div class="header-panel text-right">
      <div class="btn btn-normal">Add Location</div>
    </div>
    <div class="table-container location-table">
      <table class="table">
        <thead>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <div class="btn btn-normal">Edit</div>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Dawn</td>
            <td>Keane</td>
            <td>@dkn</td>
            <td>
              <div class="btn btn-normal">Edit</div>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Raymond</td>
            <td>Barrying</td>
            <td>@rby</td>
            <td>
              <div class="btn btn-normal">Edit</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
</div> -->

<div class="row">
    <div class="col">
        <div class="btn btn-normal">Terminate Tenancy Early</div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="btn btn-normal">Renew Tenancy</div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="btn btn-normal">Delete Tenancy</div>
    </div>
</div>

