<nav class="navbar navbar-expand-lg navbar-dark bg-dark navigtion-header">
  <button class="navbar-toggler" type="button" data-toggle="collapse"
   data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
   aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/tenancy/list-all']"
         routerLinkActive="router-link-active">
          List All Tenancies
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/tenancy/new']"
         routerLinkActive="router-link-active">
          Create New Tenancy
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/settings']"
         routerLinkActive="router-link-active">
          Account Settings
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()"
         routerLinkActive="router-link-active">
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>