<div class="row">
  <div class="col-12">
    <div class="header-panel text-right">
      <div class="btn btn-normal">Add Property</div>
    </div>
    <div class="table-container">
      <table class="table">
        <thead>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
              <div class="btn btn-normal">Edit</div>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Dawn</td>
            <td>Keane</td>
            <td>@dkn</td>
            <td>
              <div class="btn btn-normal">Edit</div>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Raymond</td>
            <td>Barrying</td>
            <td>@rby</td>
            <td>
              <div class="btn btn-normal">Edit</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>