<div class="row">
    <div class="col">
        <label for="locationType-ddl">Location Type:</label>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="locationType-ddl"
            ngbDropdownToggle>Toggle dropup</button>
            <div ngbDropdownMenu aria-labelledby="locationType-ddl">
                <button ngbDropdownItem>-- Select option --</button>
                <button ngbDropdownItem>Whole property</button>
                <button ngbDropdownItem>Private rooms</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col">
    <label for="locationName">Location Name:</label>
    <input type="text" class="form-control" id="locationName" />
  </div>
</div>

<div class="row">
    <div class="col">
        <label for="descriptionType">Description:</label>
        <textarea class="form-control" id="descriptionType">
        </textarea>
    </div>
</div>

<div class="row">
    <div class="col">
        <label for="rentableToggle">Can be rented:</label>
        <ui-switch id="rentableToggle" color="grey" size="large">
        </ui-switch>
    </div>
</div>

<div class="row">
    <div class="col">
        <label for="rentCost">Rent ($ per week):</label>
        <input type="text" class="form-control" id="rentCost" />
    </div>
</div>

<div class="row">
    <div class="col">
        <label for="extraPersonsCost">Extra persons cost ($ per week):</label>
        <input type="text" class="form-control" id="extraPersonsCost" />
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="btn btn-normal viewCurrentTenancy">
            View current tenancy
        </div>
        <div class="btn btn-normal newTenancy">
            New tenancy
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="btn btn-danger">Delete Location</div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="btn btn-normal">Save changes</div>
        <div class="btn btn-normal">Discard changes</div>
    </div>
</div>